*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: sans-serif;
	font-size: 14px;
	line-height: 24px;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Source Sans Pro', sans-serif;
}

a, a:hover{
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
}
/***********************************************
    ***Global CSS For TITLE for this Site***
************************************************/


/*********************************/



/*Header Section Start*/

.header-section{
	width: 100%;
	background: url(../images/header_background.png) center top no-repeat;
	background-size: cover;
}

.header-section .bg-light {
    background-color: transparent !important;
    padding: 30px 0px;
}

.header-section .navbar-light .navbar-nav .active > .nav-link{
	color: #07222f;
	
}

.navbar-brand img{
	width: 100%;
}

.header-section .navbar-light .navbar-nav .nav-link {
    color: #07222f;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}

.header-section .navbar-light .navbar-nav .nav-item .btn-primary{
    padding: 6px 10px;
    background: #34a6f2;
    color: #07222f;
    font-size: 16px;
    font-weight: 700;   
    border: 1px solid #3a9df7;
    border-radius: 3px;
    margin-left: 10px;
}

.header-section .navbar-light .navbar-nav .nav-item .btn-primary:hover{
	background: transparent;
	color: #e74c3c;
	border: 1px solid #3a9df7;
	transition: 0.7s ease-in;
}

.header-section .navbar-light .navbar-nav .nav-item .btn-info{
    padding: 6px 10px;
    background: transparent;
    color: #07222f;
    font-size: 16px;
    font-weight: 700;   
    border: 1px solid #3a9df7;
    border-radius: 3px;
    margin-left: 10px;
}

.header-section .navbar-light .navbar-nav .nav-item .btn-info:hover{
	background: #34a6f2;
	color: #e74c3c;
	border: 1px solid #3a9df7;
	transition: 0.7s ease-in;
}

.header-section .navbar-light .navbar-nav .nav-link:hover {
	color: #e74c3c; 
}

.banner{
	width: 100%;
	padding-top: 134px;
}

.banner .banner-left{
	width: 100%;
}

.banner .banner-left h1{
	color: #fff;
	font-size: 48px;
	font-weight: 700;
}

.banner .banner-left p{
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}

.banner .banner-right{
	width: 100%;
}

.banner .banner-right img{
	width: 100%;
}

/*Header Section End*/


/*Service Section Start*/

.development-section{
	width: 100%;
	padding: 100px 0px 60px;
}

.development-section .development-top{
	width: 100%;
	text-align: center;
	padding-bottom: 40px;
}

.development-section .development-top h2{
	color: #07222f;
	font-size: 34px;
	font-weight: 700;
}

.development-section .development-top p{
	color: #8b9398;
	font-size: 14px;
	font-weight: 400;
}

.development-section .development-inner{
	width: 100%;
	text-align: center; 
}

.development-section .development-inner .shape{
    width: 120px;
    height: 120px;
    line-height: 115px;
    background: #eef5ff;
    border-radius: 75px;
    border: 1px solid #fff;
    margin: auto;
    position: relative;
    text-align: center;
}

.development-section .development-inner .shape .development-image{
	width: 70px;
}

.development-section .development-inner .development-text{
	width: 100%;
	padding-top: 30px;
}

.development-section .development-inner .development-text h5{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

.development-section .development-inner .development-text p{
	font-size: 14px;
	font-weight: 400;
}


/*Service Section End*/


/*Information Section Start*/

.information-section{
	width: 100%;
}

.information-section .information-top{
	width: 100%;
}

.information-section .information-top .information-top-text{
	width: 100%;
	margin-top: 100px;
	text-align: left;
}

.information-section .information-top .information-top-text h2{
	font-size: 34px;
	font-weight: 700;
}

.information-section .information-top .information-top-text p{
	font-size: 14px;
	font-weight: 400;
}

.information-section.information-top .information-top-image{
	width: 100%;
}

.information-section .information-bottom{
	width: 100%;
}

.information-section.information-bottom .information-bottom-image{
	width: 100%;
}

.information-section .information-bottom .information-bottom-text{
	width: 100%;
	margin-top: 100px;
	text-align: left;
}

.information-section .information-bottom .information-bottom-text h2{
	font-size: 34px;
	font-weight: 700;
}

.information-section .information-bottom .information-bottom-text p{
	font-size: 14px;
	font-weight: 400;
}


/*Information Section End*/


/*Work Section Start*/

.work-section{
	width: 100%;
	background: url(../images/work_background.png) center top no-repeat;
	background-size: cover;
	padding-bottom: 200px;
}

.work-section .work-top{
	width: 100%;
	text-align: center;
	margin-top: 200px;
	margin-bottom: 40px;
}

.work-section .work-top h2{
	color: #fff;
	font-size: 34px;
	font-weight: 700;
}

.work-section .work-top p{
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}

.work-section .work-inner{
	width: 100%;
	margin-top: 25px;
	text-align: center;
}

.work-section .work-inner .work-image{
	width: 200px;
}

.work-section .work-inner .work-text{
	width: 100%;
	margin-top: -15px;
}

.work-section .work-inner .work-text h5{
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

.work-section .work-inner .work-text p{
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}


/*Work Section End*/


/*Partner Section Start*/

.partner-section{
	width: 100%;
}

.partner-section .partner-top{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
}

.partner-section .partner-top h2{
	color: #07222f;
	font-size: 34px;
	font-weight: 700;
}

.partner-section .partner-image{
	width: 70%;

}

/*Partner Section End*/


/*Footer Section Start*/

.footer{
	width: 100%;
	background: url(../images/footer.png) center bottom no-repeat;
	background-size: cover;
	padding: 123px 0px 30px;
}

.footer .nav{
	width: 100%;
}

.footer .nav .nav-item{
	text-align: center;
}

.footer .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.footer .nav-link:hover {
	color: #e74c3c; 
}

.footer .address{
	width: 100%;
	text-align: right;
}

.footer .address ul{
	display: block;
	margin: 0px;
}

.footer .address ul li{
	list-style: none;
	display: inline-block;
}

.footer .address ul li a{
	font-size: 17px;
	color: #fff;
	font-weight: 400;	
}

.footer .address .fa{
	font-size: 17px;
	margin-right: 10px;
}
/*Footer Section End*/
